<main class="wrapper">
    <div class="inner-wrapper">
        <header class="header-wrapper">

        </header>
        <section class="section-wrapper">
            <div class="login">
                <form>
                    <div class="form-components">
                        <input type="email" name="email" placeholder="Email" [(ngModel)]="username" required="" >
                        <input type="password" name="pswd" placeholder="Password" [(ngModel)]="password"  required="">
                        <button (click)="onclick()">Login</button>
                        
                    </div>
                </form>
            </div>
        </section>
        <footer class="footer-wrapper">

        </footer>
    </div>
</main>