<app-user-nav-bar></app-user-nav-bar>
<div class="section-wrapper">
  <div class="card mb-3">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Customer ID</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{cid}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Full Name</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{name}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Email</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{email}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Mobile</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{phno}}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3">
          <h6 class="mb-0">Address</h6>
        </div>
        <div class="col-sm-9 text-secondary">
          {{address}}
        </div>
      </div>
      <!-- <hr> -->
      <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12">
          <a class="btn btn-info " target="__blank">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-wrapper">
  <h6>  Copyright &copy; 2024</h6>
</div>