<app-user-nav-bar></app-user-nav-bar>
<div class="main-wrapper">
    <div class="section-wrapper">
        <div class="table-contents">
            <fieldset>
                <h6>Bill payments</h6>
                <table class="current">
                    <tr>
                        <td class="colum-heading1">Bill Details</td>
                    </tr>
                    <tr>
                        <td class="consumer-number">Consumer Number</td>
                        <td class="consumer-name">Consumer Name</td>
                        <td class="bill-amount">Bill Amount (Rs)</td>
                        <td class="due-date">Due Date</td>
                    </tr>
                    <tr>
                        <td class="consumer-column consumer-number" ></td>
                        <td class="consumer-name" ></td>
                        <td class="bill-amount" ></td>
                        <td class="due-date" ></td>
                    </tr>
                </table>
                <table class="previous">
                    <tr>
                        <td class="colum-heading2">Due Bill Details</td>
                        
                    </tr>
                    <tr>
                        <td class="consumer-number">Consumer Number</td>
                        <td class="consumer-name">Consumer Name</td>
                        <td class="bill-amount">Bill Amount (Rs)</td>
                        <td class="due-date">Due Date</td>
                    </tr>
                    <tr>
                        <td class="consumer-column consumer-number" ></td>
                        <td class="consumer-name" ></td>
                        <td class="bill-amount" ></td>
                        <td class="due-date" ></td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
    <div class="footer-wrapper">
      <h6>  Copyright &copy; 2024</h6>
    </div>
</div>
